/*
===================================================================================
 YouTube fix conflict plugin speed and vidIq button classes
===================================================================================
*/
#PlayBackRatePanel .btn.btn-left,.btn.btn-right{
    position:relative;
    font-size: 12px;
    background: rgba(255, 255, 255, 0.25);
    padding: 5px;
    border: 0;
    border-radius:50%;
    color:transparent;
}
#PlayBackRatePanel .btn{
  font-size: 12px;
}

#PlayBackRate{
  margin:0 .3rem;
  border: 1px solid #504949;
  border-radius: 8px;
}
.btn.btn-left:before{
  content:"\1F892";
  position:absolute;
  width:100%;
  height:100%;
  left: 0;
  top: 0;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
  color:#fff;
}
/*
===================================================================================
 YouTube add Video Trends positons
===================================================================================
*/
#contents  #grid-container{
  counter-reset: section; 
}
#contents #grid-container ytd-video-renderer{
  position:relative;
}
#contents  #grid-container ytd-video-renderer:before{
  counter-increment: section;
  content: counter(section);
  position:absolute;
  top:-3px;
  margin-right:8px;
   right:100%;
  /* color:red; */
  color:#ddd;
  font-weight:bold;
  font-size:2rem;
}
