/* Контактная форма */
.modal-dialog-center {
    margin-top: 20%;
}

.popup-header {
    height:55px;
    line-height:55px;
    background-image: linear-gradient(to bottom, #66b6d9, #4490bd);
    padding-top: 5px;
}

.error-popup-header {
    background-image: linear-gradient(to bottom, #E41A1A, #C02D2D)
}

.popup-title {
	color: white;
    text-align:center;
    font-size:18px;
    display: inline-block;
    width:  95%;
    text-align: center;
}

.popup-title h4 {
    margin: 0px;
    color: white
}

.dialog-close-btn {
    display: inline-block;
    float: right;
    padding-right: 10px;
    font-size: 0.8em;
}

.dialog-close-btn-image {
    color:  white;
}

.popup-body {
	padding: 10px 40px 10px 40px;
	color:	#3f484d;
}
.popup-body p {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	text-align:center;
	font-weight:bold;
	color: inherit;
    font-size:  1.4em;
    margin-bottom: 10px;
    margin-top: 5px;
}


.popup-body .phone-section {
    margin-top: 10px;
}
.popup-body .phone-number {
    font-size: 2em;
    vertical-align: middle;
    color: #4490bd;
}

.popup-body .form-group {
    margin-bottom: 0;
}
.popup-footer {
    border-top: 1px solid #e5e5e5;
}

.feedback-form-fill-order {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 0;
}

.popup-row-label {
    text-align: left;
    display: inline-block;
    width: 30%;
    font-size: 14px;
}
.popup-row-input {
	display: inline-block;
    width: 58%;
    height: 36px;
    vertical-align: text-bottom;
    padding-left: 10px;
}

.popup-footer {
	text-align: center;
	padding: 10px 0 10px 0;
}

.submit-button {
    display: inline-block;
    color: white;
    font-family: inherit;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    padding: 1em 2.5em .75em 1.5em;
    background-color: #BB2F2F;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#AA3838), to(#842B2B));
    background-image: -webkit-linear-gradient(top, #B63030, #842B2B);
    background-image: -moz-linear-gradient(top, #89aa38, #6a842b);
    background-image: -o-linear-gradient(top, #89aa38, #6a842b);
    background-image: linear-gradient(to bottom, #EB2A2A, #842B2B);
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px #5D1F1F;
    position: relative;
    -webkit-box-shadow: inset 0 1px 1px #D88989;
    box-shadow: inset 0 1px 1px #D88989;
    overflow: visible;
    border: 1px solid #A23535;
    border-bottom: 1px solid #702525;
    font-size: inherit;
    padding: 1em 2.5em .85em 1.5em;
    width: 60%;
    text-align: center;
}

.submit-button:hover {
    background-color: #CA3232;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#B33434), to(#973232));
    background-image: -webkit-linear-gradient(top, #B23B3B, #973232);
    background-image: -moz-linear-gradient(top, #8fb23b, #7a9732);
    background-image: -o-linear-gradient(top, #8fb23b, #7a9732);
    background-image: linear-gradient(to bottom, #E41A1A, #C02D2D);
}

.submit-button:active {
    background-color: #973232;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#973232), to(#B23B3B));
    background-image: -webkit-linear-gradient(top, #973232, #B23B3B);
    background-image: -moz-linear-gradient(top, #7a9732, #8fb23b);
    background-image: -o-linear-gradient(top, #7a9732, #8fb23b);
    background-image: linear-gradient(to bottom, #973232, #B23B3B);
}

.submit-button i {
    position: absolute;
    display: block;
    width: 16px;
    height: 16px;
    margin-top: -8px;
    top: 50%;
    right: 1em;
}

