






.survey-page .question-pre-set-icon {
  color: #FFFFFF;
  font-size: 12px
}

.report-problem-container {
  background-color: #FFFFFF;
}

.survey-page .question-preset-theme {
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  outline: none;
  text-decoration: none;
}

.survey-page .question-validation-icon {
  background-color: #CC0000;
  color: #FFFFFF;
  font-size: 12px;
}

.survey-page {
  font-family: Arial;
  
  

}

.survey-page .survey-page-header .survey-title-container{
  background-color: #FACC00;
  
  

}

.survey-page .survey-page-header .page-title-container {
  background-color: #FFFFFF;
  
  

}

.survey-page .question-matrix-row-even td,
.survey-page .question-matrix-row-even .matrix-row-label-cell {
  background-color: #D5F2DE;
}

.survey-page .checkbox-button-label.no-touch:hover,
.survey-page .checkbox-button-label.touch-sensitive.touchdown,
.survey-page .radio-button-label.no-touch:hover,
.survey-page .radio-button-label.touch-sensitive.touchdown {
  background-color: #D5F2DE;
  border-left-color: #FACC00;
}

.survey-page [data-preset-question] .checkbox-button-label.no-touch:hover,
.survey-page [data-preset-question] .checkbox-button-label.touch-sensitive.touchdown,
.survey-page [data-preset-question] .radio-button-label.no-touch:hover,
.survey-page [data-preset-question] .radio-button-label.touch-sensitive.touchdown
{
  background-color: #FACC00;
  border-left-color: #FACC00;
}

.question-ranking-rank-hover {
  background-color: #D5F2DE;
}

.radio-button-label.focus .radio-button-display,
.checkbox-button-label.focus .checkbox-button-display {
  outline-color: #000000;
}

.modern-browser .radio-button-label.focus .radio-button-display,
.modern-browser .checkbox-button-label.focus .checkbox-button-display {
  border-color: #FACC00;
  box-shadow: 0 0 4px #FACC00;
}

.survey-page .progress-bar-container {
    width: 60%;
    
  

}

.survey-page .progress-bar-section {
  background-color: #FFFFFF;
  color: #000000;
  font-size: 12px;
}

.survey-page .progress-bar-indicator-wrapper {
  border-color: #CCCCCC;
  border-width: 1px;
}

.survey-page .progress-bar-indicator{
  background-color: #F5F536;
}

.survey-page .exit-survey {
  color: white;
  
  
    
      font-size: 12px;
    
      font-weight: 300;
    
  

}

.survey-page .question-body select{
  font-size: 14px;
}





.survey-page .required-asterisk{
  
  
    
      color: #000000;
    
  

  font-weight: 300;
}


  
    .survey-body {
      
  
    
      background-position: center;
    
      background-color: #EFEFEF;
    
      background-attachment: fixed;
    
  

    }
  


  
    .survey-page .page-subtitle {
      
  
    
      color: #000000;
    
      font-size: 16px;
    
      font-weight: 300;
    
      font-style: normal;
    
      text-decoration: none;
    
  

    }
  


  
    .survey-page .page-title-wrapper {
      
  
    
      font-size: 18px;
    
      color: #000000;
    
      text-decoration: none;
    
      font-weight: 300;
    
      font-style: normal;
    
      background-color: #FFFFFF;
    
  

    }
  


  


  
    .survey-page .question-body, .survey-page .question-body-font-theme {
      
  
    
      color: #000000;
    
      font-size: 14px;
    
      font-weight: 300;
    
      font-style: normal;
    
      text-decoration: none;
    
  

    }
  


  
  

  
  

  
  

  


  


  


  


  


  


  
    .survey-page .question-title-container {
      
  
    
      color: #000000;
    
      font-size: 16px;
    
      font-weight: 300;
    
      font-style: normal;
    
      text-decoration: none;
    
  

    }
  


  
    .survey-page .question-validation-theme {
      
  
    
      color: #CC0000;
    
      font-size: 12px;
    
      font-weight: 700;
    
      font-style: normal;
    
      text-decoration: none;
    
  

    }
  


  


  
    .survey-page .survey-page-body {
      
  
    
      font-family: Arial;
    
      background-color: #FFFFFF;
    
  

    }
  


  
    .survey-page .survey-page-button.done-button {
      
  
    
      color: #050505;
    
      background-color: #FACC00;
    
  

    }
  


  
    .survey-page .survey-page-button.next-button {
      
  
    
      color: #050505;
    
      background-color: #FACC00;
    
  

    }
  


  


  


  


  


  


  
    .survey-page .survey-title {
      
  
    
      font-size: 18px;
    
      color: #050505;
    
      text-decoration: none;
    
      font-weight: 700;
    
      font-style: normal;
    
      background-color: #FACC00;
    
  

    }
  


  


  


  
    .top-logo-section {
      
  
    
      background-color: #FFFFFF;
    
  

    }
  





 
  




@media only screen and (max-width: 480px) {
  .modern-browser .survey-page .question-matrix-table.reflow .question-matrix-row-odd td,
  .modern-browser .survey-page .question-matrix-table.reflow .menu-matrix-select-cell td {
    background-color: #D5F2DE;
  }

  .modern-browser .survey-page .question-matrix-table.reflow .other-answer-container {
    padding: 0;
  }

  .modern-browser .survey-page .question-matrix-table.reflow .other-answer-label {
    background-color: #D5F2DE;
    padding: 5px;
    margin: 0;
  }
}


@media only screen and (max-width: 768px) {
  
  

  
  

  
  

  
  

  
  

  
  

  
  

  
  

  
  

}


@media only screen and (max-width: 480px) {
  
  

  
  

  
  

  
  

  
  

  
  

  
  

  
  

  
  

  
  

  
  

  
  

}
