* { margin: 0; padding: 0; }
html, body { position: relative; height: 100%; }
body { 	font-family: 'Roboto', sans-serif; font-size: 12px; min-width: 960px; }
img { border: none; }
.clr { clear: both; }
.center_960 { width: 960px; margin: 0 auto; }

.header_text_t {
padding: 180px 0 0 0px;
color: #fff;
z-index: 20;
position: relative;
}

.ff-content {
	position:relative;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;

	padding:74px 60px 30px 60px;
}

.red{color: #e20e0e;}

.ff-close-button {
	position:absolute;
	top:10px;
	right:10px;
	color: grey;
}


.request_callback_text .r3 {
		font-family: 'PT Serif', serif;
		font-size: 24px;
		line-height: 34px;
		font-weight: 500;
		color: #fff;
		padding-top: 20px;
		text-align: center;    padding-bottom: 31px;
}

#curent {	background:#FFB300;}

.ff-title-block,
.ff-form-block,
.ff-benifits-block {
}

.ff-phone-block {
	border-top-style: solid;
	border-top-width: 1px;
	margin-top: 20px;
	border-top-color: grey;
}

.ff-titles,
.ff-input-form,
.ff-benefits,
.ff-phones {
	width: 82%;
	display: inline-block;
}

.ff-form-image
{
	width: 12%;
	display: inline-block;
	vertical-align: top;
	padding-left: 	10px;
}

.ff-title-image,
.ff-benefits-image,
.ff-phone-image
{
	width: 12%;
	display: none;
	vertical-align: top;
	padding-left: 	10px;
}

/* titles */
.ff-first-title {
	font:bold 32px/36px Arial, Helvetica, sans-serif;
	color:#000;
	text-align:left;
	text-transform: none;
}

.ff-second-title {
	font: bold 20px/20px Arial, Helvetica, sans-serif;
	margin-bottom: 18px;
	background: none;
}

/* input -form*/
.ff-form-image {
	color: #EC5635;
}

.ff-input-form {
	display: inline-block;
	margin-top: 14px !important;
	vertical-align: top;
}

.ff-input-form .ff-phone {
	width:200px;
	height: 36px;
	float:left;
	font-style:italic;
	padding:0 9px;
	margin:0 10px 0 0;
	color:grey;
}

.ff-input-form .ff-submit {
	width: 340px;
	color: white;
	background-image: linear-gradient(to bottom, #EC5635, #D74C2D);
	border: 0;
	height: 36px;
}

/* benefits*/
.ff-benefits-title {
	margin-bottom: 10px;
	font: bold 20px/20px Arial, Helvetica, sans-serif;
	font-size: 20px;
}

.ff-benefits p {
	margin:0;
	line-height:18px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: black;
	width: 100%;
}

.ff-phone-block .ff-phone-message {
	margin-top: 5px;
	text-align: center;
	font-size: 20px;
	color: gray;
}

.ff-titles,
.ff-benefits,
.ff-phone-block .ff-phones {
	padding-left: 12%;
}

.ff-phone-block .ff-phone {
	text-align: center;
	font-size: 40px;
	color: gray;
}

.ff-phone-block .ff-phone-image {
	display: none;
}

.ff-footer-block {
	background-color: 	grey;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	text-align: right;
	padding-right: 20px;
	color: white;
	font-size: 14px;
}

.ff-footer-block .ff-adt-link{
	vertical-align: text-bottom;
}

/* header */
.header { /* height: 720px; */}

/* white */
.header_top { position: relative; height: 132px; /* position: fixed; background: #fff;*/  width: 100%; z-index: 500;   }
.header_logo {display: block; position: relative; float: left;
	/* width: 324px;
	height: 102px; */
	width: 337px;
	height: 78px;

	/* padding: 0px 0 0 90px; */
	left: -47px;
 margin: 24px 0 0 0px;  font-size: 16px; color: #344147;
 background: url('images/header-logo.png') no-repeat;
 /* background-size: 75%; */

 text-decoration: none;
display: block; }
.header_logo a { text-decoration: none; border-bottom: none; }
.header_logo .r1 { padding: 20px 12px 0 0; font-size: 50px; font-weight: bold; color: #ed413f; line-height: 52px; }
.header_logo .r2 { font-family: 'Noto Serif', serif; padding: 1px 0 0 2px; font-size: 16px; line-height: 18px; color: #333333; }

.header_phone { z-index: 150;float: right; padding: 0px  14px  0px  18px; text-align: right; color: #222; margin-top: 14px; 	width: 318px; }
.header_phone .r1 a{ text-decoration:none; padding: 0px 0px 0 0; font-size: 36px; font-weight: bold; color: #719dca;  line-height: 40px; }
.header_phone .r2 {
font-family: Tahoma;
padding: 3px 0px 0 0;
font-size: 14px;
line-height: 18px;
color: #344147;
 }
.header_phone .r0 {  font-size: 19px; line-height: 27px; font-weight: 700;  text-transform: uppercase;
color:#344147; }
/* blue */
.header-txt-bg { height: 718px; background: #FFF url('images/header-bg.jpg') center bottom repeat-x;  }
.header_text {  padding: 139px 0 0 0px; color: #fff;
z-index: 20;
position: relative;

 }
.header_text .r1 {text-align: right;
	font-size: 33px;
	/* font-size: 25px; */

	line-height: 44px; font-weight: 700;  text-transform: uppercase;color:#344147;}
.header_text .r2 {text-align: right;  font-size: 32px; line-height: 44px; font-weight: 300;  text-transform: uppercase;
color:#344147; }
.r3 { font-size: 16px;  font-weight: 300;  text-align: right; color: #fff; }
.r3b { font-size: 16px;  font-weight: 700;  text-align: right; color: #fff;  }

.header_text ul { padding: 10px 0 0 480px; }
.header_text ul li { font-size: 18px; font-weight: 400;  list-style: none; color:#344147;
	background: url('images/header_text-li.png') left no-repeat; padding: 0 0 0 37px;
	 /* margin: 10px 0 0 0; */
	 margin: 12px 0 0 0;

	}



.header_text_t .r1 { font-size: 36px; line-height: 41px; font-weight: 700;  text-transform: uppercase;color:#474e55;}
.header_text_t .r2 {  font-size: 36px; line-height: 41px; font-weight: 300;  text-transform: uppercase;
color:#e42157; }
.r3 {text-align:left; font-style: italic; font-size: 16px;  font-weight: 300; color: #344147; }
.r3b { text-align:left; font-size: 16px;  font-weight: 700;  color: #344147;  }

.header_text_t ul { padding: 38px 0 0 0; }
.header_text_t ul li { font-size: 22px; font-weight: 400;  list-style: none; color:#474e55;
	background: url('images/header_text-li.png') left no-repeat; padding: 0 0 0 37px; margin: 15px 0 0 0; }

.timer-end {
		text-align: center;
		font-size: 21px;
		color: #FFFFFF;
		font-style: italic;
	padding-top: 10px;
}




.form_block {
	height:720px;
	width:780px;
	background:#719dca;
	-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
margin-top:-125px;
margin-left: 90px;
z-index: 100;
position: relative;
opacity:0.9;
}

/* red + form */
.request_callback_style {  padding: 0px 0 0 0; width: 100%; }
.button-offer { font-size: 22px; padding: 0px 0 0 16px;   }
.request_callback .r1 {padding: 12px 0 30px 0;
font-size: 18px;
/* font-size: 21px; */
font-weight: 700;
line-height: 30px;
color: #fff;
text-align: center;
text-transform: uppercase;
/* letter-spacing: 1px; */ }

.request_callback .inputs { padding: 15px 0 0 0px;  width: 342px;  margin: 0 auto;
	-webkit-box-sizing: border-box;  -moz-box-sizing: border-box; box-sizing: border-box;    }

.request_callback .input_text input { width: 100%; height: 36px; background: none; border: none; outline: none; }
::-webkit-input-placeholder {  color: #404040; font-size: 16px;  }
::-moz-placeholder { /* Firefox 19+ */  color: #404040; font-size: 16px; }
:-ms-input-placeholder {   color: #404040; font-size: 16px; }
:-moz-placeholder { /* Firefox 18- */  color: #404040;  font-size: 16px;}

.request_callback .input_text {font-size:14px;width: 340px; margin: 0 30px 16px 0; padding: 10px 24px; background: #fff; border-radius: 4px;
-webkit-box-sizing: border-box;  -moz-box-sizing: border-box; box-sizing: border-box;  }

.request_callback .input_file {font-size:14px;width: 340px; margin: 0 30px 16px 0;
	padding: 18px 24px;
	background: #fff; border-radius: 4px;
-webkit-box-sizing: border-box;  -moz-box-sizing: border-box; box-sizing: border-box;  }


.request_callback .submit {
		display: block;
		float: left;
		height: 56px;
	width: 340px;
		padding: 16px  0 0 0px;
		font-size: 21px;
		font-weight: 600;
		border-radius: 4px;
		color: #fff !important;
		text-align: center;
		text-transform: uppercase;
		text-decoration: none;
	background: #E41A1A;
		background: -moz-linear-gradient(top, #E41A1A 0%, #ce0000 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, #E41A1A)), color-stop(100%, #ce0000));
		background: -webkit-linear-gradient(top, #E41A1A 0%, #ce0000 100%);
		background: -o-linear-gradient(top, #E41A1A 0%, #ce0000 100%);
		background: -ms-linear-gradient(top, #E41A1A 0%, #ce0000 100%);
		background: linear-gradient(to bottom, #E41A1A 0%, #ce0000 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#a5bcde', GradientType=0 );
	-webkit-box-sizing: border-box;  -moz-box-sizing: border-box; box-sizing: border-box;
text-shadow: 0px -1px 0px #753300;

}

.request_callback .submit:hover  {
		display: block;
		float: left;
		height: 56px;
	width: 340px;
		padding: 16px  0 0 0px;
		font-size: 21px;
		font-weight: 600;
		border-radius: 4px;
		color: #FFF !important;
		text-align: center;
		text-transform: uppercase;
		text-decoration: none;
		background: #444c54;
		background: -moz-linear-gradient(top, #444c54 0%, #1f232a 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, #444c54)), color-stop(100%, #1f232a));
		background: -webkit-linear-gradient(top, #444c54 0%, #1f232a 100%);
		background: -o-linear-gradient(top, #444c54 0%, #1f232a 100%);
		background: -ms-linear-gradient(top, #444c54 0%, #1f232a 100%);
		background: linear-gradient(to bottom, #444c54 0%, #1f232a 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#a5bcde', GradientType=0 );
	-webkit-box-sizing: border-box;  -moz-box-sizing: border-box; box-sizing: border-box;
}

/* -- Вы получите бесплатно -- */
.benefits { height: 703px; padding: 0px 0 0px 0; background: #4b4a44 url('images/benefits-top-bg.jpg') top center repeat;
	-webkit-box-sizing: border-box;  -moz-box-sizing: border-box; box-sizing: border-box;  margin: 0; }
.benefits h2 { padding: 58px 0 46px 0; font-size: 26px; font-weight: 700; color: #FFF; text-transform: uppercase; text-align: center;   }
.benefits ul { list-style: none; overflow: hidden; padding: 0 0 0 35px; }
.benefits li { height: 280px; }
.benefits ul li div span {	font-family: 'Noto Serif', serif; font-style: italic; font-size: 18px; 	font-weight: bold;  font-style: none;  line-height: 14px; }
.benefits ul li div { font-style: normal; font-size: 18px;
 line-height: 22px;  color: #FFF; text-align: center; width: 300px; 	padding: 180px 0 0px 0; }

.benefits .i1 {	background-image: url('images/c-icon-01.png'); 	background-position: center  0px; 	background-repeat: no-repeat; }
.benefits .i2 {	background-image: url('images/c-icon-02.png'); 	background-position: center  0px; 	background-repeat: no-repeat; }
.benefits .i3 {	background-image: url('images/c-icon-03.png'); 	background-position: center  0px; 	background-repeat: no-repeat; }
.benefits .i4 {	background-image: url('images/c-icon-04.png'); 	background-position: center  0px; 	background-repeat: no-repeat; }
.benefits .i5 {	background-image: url('images/c-icon-05.png'); 	background-position: center  0px; 	background-repeat: no-repeat; }
.benefits .i6 {	background-image: url('images/c-icon-06.png'); 	background-position: center  0px; 	background-repeat: no-repeat; }



.form_block2 {
height: 245px;
background: #e42157;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
z-index: 100;
position: relative;
}


.benefits_c { height: 470px; padding: 0px 0 0px 0;
	-webkit-box-sizing: border-box;  -moz-box-sizing: border-box; box-sizing: border-box;  margin: 0; }
.benefits_c h2 { padding: 58px 0 46px 0; font-size: 26px; font-weight: 700; color: #333; text-transform: uppercase; text-align: center;   }
.benefits_c ul { list-style: none; overflow: hidden; padding: 0 0 0 50px; }
.benefits_c ul li div span {	font-family: 'Noto Serif', serif; font-style: italic; font-size: 18px; 	font-weight: bold;  font-style: none;  line-height: 14px; }
.benefits_c ul li div { font-style: normal; font-size: 18px;
 line-height: 22px;  color: #FFF; text-align: center; width: 300px; 	padding: 180px 0 0px 0; }


.benefits_c .с1 {	background-image: url('images/logo_comp/c01.png'); 	background-position: center  0px; 	background-repeat: no-repeat; }
.benefits_c .с2 {	background-image: url('images/logo_comp/c02.png'); 	background-position: center  0px; 	background-repeat: no-repeat; }
.benefits_c .с3 {	background-image: url('images/logo_comp/c03.png'); 	background-position: center  0px; 	background-repeat: no-repeat; }
.benefits_c .с4 {	background-image: url('images/logo_comp/c04.png'); 	background-position: center  0px; 	background-repeat: no-repeat; }
.benefits_c .с5 {	background-image: url('images/logo_comp/c05.png'); 	background-position: center  0px; 	background-repeat: no-repeat; background-position: center -70px;}
.benefits_c .с6 {	background-image: url('images/logo_comp/c06.png'); 	background-position: center  0px; 	background-repeat: no-repeat; }

.benefits_c li {
height: 150px;
width: 230px;
background-size: 100%;
margin-right: 70px;
}


/* -- Вы получите бесплатно -- */
.benefits_w { height: 1448px; padding: 0px 0 0px 0; background: #FFF;
	-webkit-box-sizing: border-box;  -moz-box-sizing: border-box; box-sizing: border-box;  margin: 0; }
.benefits_w h2 {
background:#ffc056;
 padding: 52px 0 42px 0;
 font-size: 22px; font-weight: 700;
 color: #333333;
 width:458px;
 margin: 0 auto;
 text-transform: uppercase;
 text-align: center;   }
.benefits_w  { list-style: none; overflow: hidden;

 }

.block_orange {width:300px;height:590px;background:#ffc056;margin:0 auto;margin-top:-30px;margin-bottom: -480px;}


.block_icons {margin-bottom: 350px;}
.block_icons2 {margin-bottom: 480px;}
.l_icons {float:left;}
.r_icons {float:right;}
.rimg{position:absolute;}
.limg{position:absolute;margin-left: -50px;}

.li {height:109px;vertical-align:middle;color: #474e55;font-size: 15px;}

.benefits_w .i1 {
margin-right: 32px;
/* margin-left: 90px; */
padding: 28px 0px 60px 138px;
text-align: right;
background-image: url('images/ico1.png');
background-position: center left;
background-repeat: no-repeat;
}
.benefits_w .i2 {
margin-right: 32px;
/* margin-left: 90px; */
padding: 0 0px 0px 138px;
text-align: right;
background-image: url('images/ico2.png');
background-position: center left;
background-repeat: no-repeat;
}
.benefits_w .i3 {margin-right: 32px; margin-left: 90px; padding: 28px 0px 60px 138px; text-align: right; background-image: url('images/ico3.png'); background-position: center left; background-repeat: no-repeat; }
.benefits_w .i4 {
	/* margin-right: 32px; */

	margin-left: 90px; padding: 28px 0px 60px 138px; text-align: right; background-image: url('images/ico4.png'); background-position: center left; background-repeat: no-repeat;}

.benefits_w .i5 {
margin-right: 106px;
/* margin-left: 190px; */
margin-left: 70px;
padding: 28px 0px 60px 138px;
text-align: right;
background-image: url('images/ico5.png');
background-position: center left;
background-repeat: no-repeat;
}
.benefits_w .i6 {
margin-right: 106px;
/* margin-left: 190px; */
margin-left: 70px;
padding: 0 0px 0px 138px;
text-align: right;
background-image: url('images/ico6.png');
background-position: center left;
background-repeat: no-repeat;
}

.benefits_w .i1 div {padding-top: 55px;text-align: left;text-transform: uppercase;font-size: 15px;font-weight: 700;}
.benefits_w .i2 div {padding-top: 40px;text-align: left;text-transform: uppercase;font-size: 15px;font-weight: 700;}
.benefits_w .i3 div {padding-top: 55px;text-align: left;text-transform: uppercase;font-size: 15px;font-weight: 700;}
.benefits_w .i4 div {padding-top: 55px;text-align: left;text-transform: uppercase;font-size: 15px;font-weight: 700;}
.benefits_w .i5 div {padding-top: 55px;text-align: left;text-transform: uppercase;font-size: 15px;font-weight: 700;}
.benefits_w .i6 div {padding-top: 40px;text-align: left;text-transform: uppercase;font-size: 15px;font-weight: 700;}


.on_map  { background: #fff; margin-top: 1px;    }
#map_canvas { height: 300px; padding: 0px 0 112px 0;  }
.on_map h2 {  background: #ffc056;
padding: 52px 0 42px 160px;
font-size: 22px;
font-weight: 700;
color: #333333;
width: 620px;
text-transform: uppercase;
text-align: center;}
.inner h2 { padding: 40px 0 40px 0; font-size: 26px; font-weight: 700; color: #333333; text-transform: uppercase; text-align: center; margin: 0; letter-spacing:1px;}
.on_map .center_960 { position: relative; z-index: 1;   }
.on_map_address { position: absolute; left: 0px; top: 0px; width:300px; height: 412px;  background:#719dca;
opacity:0.9;

	 }
.on_map_address a { color: #313131; text-decoration: none; }
.on_map_address a:hover { text-decoration: underline; }
.on_map_address .r0 { padding: 30px 0 0 28px; font-size: 16px; font-weight: bold; color: #ffffff; text-transform: uppercase; }
.on_map_address .r1 a{display: block; text-decoration:none; padding: 12px 0 0 28px; font-size: 31px; font-weight: bold; color: #344147; text-transform: uppercase; }
.on_map_address .r2 { padding: 10px 0 0 28px; font-size: 16px; color: #FFF; }
.on_map_address .r3 { padding: 30px 0 0 26px; font-size: 16px; font-weight: 300; color: #ffffff; font-style: normal; text-align: left; }
.on_map_address .r4 {font-family: 'Noto Serif', serif;  padding: 10px 0 20px 26px; font-size: 14px; color: #313131; }


/* ---------- footer --------- */
.footer { background: #344147;  overflow: hidden;  height: 362px;  }


.zv {
	font-size: 15px;
		color: #fff;
		font-weight: 300;
		text-align: center;
		width: 355px;
		margin-top: 15px;
		margin-left: -10px;
}

/* --- down form ---- */
.request_callback_text {  text-align: center; }
.request_callback_text .r1 {    padding: 33px 0 15px 0;
		font-size: 26px;
		font-weight: 700;
		line-height: 40px;
		color: #FFF;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 1px; }
.request_callback_text .r2 {  padding: 0px 0 0px 0; font-size: 16px;  font-weight: 400;  line-height: 34px; color: #fff; }
.request_callback_text .r2 a {text-decoration:none; line-height: 36px; font-size: 40px;font-weight: 700; color:#ffc056;}

.form_inputs { margin-top: 84px; }
.request_callback-2 .inputs { padding: 14px 0 0 0px; width: 400px;  margin: 0 auto;
	-webkit-box-sizing: border-box;  -moz-box-sizing: border-box; box-sizing: border-box;    }

.request_callback-2 .input_text input { width: 100%; height: 36px; background: none; border: none; outline: none;  font-family: 'Noto Serif', serif; }
::-webkit-input-placeholder {  color: #404040; font-size: 16px;  }
::-moz-placeholder { /* Firefox 19+ */  color: #404040; font-size: 16px; }
:-ms-input-placeholder {   color: #404040; font-size: 16px; }
:-moz-placeholder { /* Firefox 18- */  color: #404040;  font-size: 16px;}

.button-offer { font-size: 22px; padding: 0px 0 0 16px;   } /* for awesome arrow*/
.request_callback-2 .input_text { float: left; width: 410px; margin: 0 0 16px 0; padding: 10px 24px; background: #fff; border-radius: 4px;
	-webkit-box-sizing: border-box;  -moz-box-sizing: border-box; box-sizing: border-box;  }
.request_callback-2 .submit {
		display: block;
		float: left;
		height: 56px;
	width: 410px;
		padding: 16px  0 0 0px;
		font-size: 16px;
		font-weight: 600;
		border-radius: 4px;
		color: #fff !important;
		text-align: center;
		text-transform: uppercase;
		text-decoration: none;
		background: #ed413f;
		background: -moz-linear-gradient(top, #ed413f 0%, #a11615 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, #ed413f)), color-stop(100%, #a11615));
		background: -webkit-linear-gradient(top, #ed413f 0%, #a11615 100%);
		background: -o-linear-gradient(top, #ed413f 0%, #a11615 100%);
		background: -ms-linear-gradient(top, #ed413f 0%, #a11615 100%);
		background: linear-gradient(to bottom, #ed413f 0%, #a11615 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#a5bcde', GradientType=0 );
	-webkit-box-sizing: border-box;  -moz-box-sizing: border-box; box-sizing: border-box;
}

.request_callback-2 .submit:hover  {
		display: block;
		float: left;
		height: 56px;
	width: 410px;
		padding: 16px  0 0 0px;
		font-size: 16px;
		font-weight: 600;
		border-radius: 4px;
		color: #ffeded !important;
		text-align: center;
		text-transform: uppercase;
		text-decoration: none;
		background: #ff6665;
		background: -moz-linear-gradient(top, #ff6665 0%, #b62523 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, #ff6665)), color-stop(100%, #b62523));
		background: -webkit-linear-gradient(top, #ff6665 0%, #b62523 100%);
		background: -o-linear-gradient(top, #ff6665 0%, #b62523 100%);
		background: -ms-linear-gradient(top, #ff6665 0%, #b62523 100%);
		background: linear-gradient(to bottom, #ff6665 0%, #b62523 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#a5bcde', GradientType=0 );
	-webkit-box-sizing: border-box;  -moz-box-sizing: border-box; box-sizing: border-box;
}

.footer-logo-bg { background: #f0f0f0; width: 100%; height: 145px;   }
/* --- to top ---- */
.footer-logo-bg .scroll_top { display: block; position: absolute; right: -94px; top: 30px; width: 69px; height: 69px; background: url('images/footer-scroll-up.png'); text-decoration: none; }
.footer-logo-bg .scroll_top:hover { background-position: -69px 0 }
.footer-logo-bg .center_960 { position: relative; }

/* --- gray logo --- */
.footer-logo { display: block; position: relative; float: left; width: 400px; height: 98px; padding: 0px 0 0 90px;
 margin: 0px 0 0 0px;  font-size: 16px; color: #404040; background: url('images/header-logo.png') no-repeat; text-decoration: none;
display: block; }
.footer-logo a { text-decoration: none; border-bottom: none; }
.footer-logo .r1 { padding: 20px 12px 0 0; font-size: 50px; font-weight: bold; color: #ed413f; line-height: 52px; }
.footer-logo .r2 {  padding: 1px 0 0 2px; font-size: 16px; line-height: 18px; color: #333333; }

/* --- copyright --- */
.footer-bottom {
	/* height: 50px; */
	height: 160px;
	margin: 4px 0 0 0; background: #fff; font-size: 14px; color: #454d54; }

.footer-bottom .footer-copyright { float: left;
	padding: 16px 0 0 9px;

	color: #b7b7b7;
	font-family: sans-serif;
	font-size: 10px;
	font-size: 9px;
	text-align: justify;
	/* line-height: 16px; */
	line-height: 18px;
	letter-spacing: .35px;

}



.footer-bottom .creator { float: right; padding: 15px 30px 0 0; }
.footer-bottom .adtrust_logo { display: inline-block; width: 105px; height: 16px; margin-left: 6px; vertical-align: middle; background: url('images/adtrust-logo.png'); text-decoration: none; }
.footer-bottom .adtrust_logo:hover { background-position: 0 -16px; }

/* ---  modal confirm form ------------ */
.modal_wrapper { display: none; z-index: 100; position: fixed; left: 0; top: 0; width: 100%; height: 100%; background: #000; opacity: 0.85; }
.modal_confirm_wrapper { display: none; z-index: 200; position: fixed; left: 0; top: 0; width: 100%; height: 0; }
.modal_confirm { width: 294px; margin: 256px auto 0 auto; padding: 70px 0; font-size: 18px; font-weight: bold; background: #fff; text-align: center; text-transform: uppercase; border-radius: 10px; }

.modal_confirm .r1 { color: #e3231b; }
.modal_confirm .r2 { color: #3b5597; }
.show_confirm .modal_wrapper { display: block; }
.show_confirm .modal_confirm_wrapper { display: block; }

.pre-block {
	width: 960;
	padding: 10px 0 10px 0;
	clear: both;
}
.pre-photo img { width: 162px;
	height: 162px; float: left;
	backgrpond: #fff;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}
.pre-txt {
	color: #000;
	background: #f2f2f2;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	margin-left: 184px;
	height: 162px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 20px;
	font-size: 15px;
	}


.s7 {
background: #f2f2f2;
height: 610px;
padding: 0;
margin: 0;
}




/* content */

	#container{
		margin:0 auto;
		text-align:left;
		position:relative;

		}

	ul#items{

		width:auto;
		height:425px;
		overflow:hidden;
		}
	ul#items li{
		list-style:none;
		float:left;
		height:445px;
		overflow:hidden;
		margin: 0 95px;
		background:#f2f2f2;
		color:#fff;
		text-align:center;

		color:#555;
		}
	ul#items li:hover{color:#333;}
	ul#items li .image{

		width:160px;
		height:160px;
		overflow:hidden;
		margin: 0 auto;

		}
	ul#items h3{font-style:italic;font-size:18px;font-weight:semibold;margin:25px 0 0 0; color:#454d54;}
	ul#items .r5 {font-style:italic;font-size:18px;font-weight:normal;margin:0; color:#454d54;}
	ul#items .info{color:#454d54;font-size:17px;font-style:italic; margin-top:30px;}
	ol#pagination{position:relative;text-align:center;}
	ol#pagination li{
		display:inline-block;
		width:16px;
		height:16px;
		background:url(images/bg_buttons.png) no-repeat 0 0;
		text-align:left;
		text-indent:-8000px;
		list-style:none;
		cursor:pointer;
		margin:0 2px;
		}
	ol#pagination li:hover{background:url(images/bg_buttons.png) no-repeat 0 -16px;}
	ol#pagination li.current{color:#f00;font-weight:bold;background:url(images/bg_buttons.png) no-repeat 0 -32px;}
	ol#pagination li.prev, ol#pagination li.next{
		position:absolute;
		top: -190px;
		}
	ol#pagination li.prev{left:-30px;background:url(images/bg_buttons.png) no-repeat 0 -64px;}
	ol#pagination li.next{right:-30px;background:url(images/bg_buttons.png) no-repeat 0 -48px;}



